<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Hola Mundo</Title>
      <Shortcut>holamundo</Shortcut> <Description>Escribe un Console.WriteLine con Hola Mundo</Description>
      <Author>Tu Nombre</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[
          // Aquí va tu código. 
          // Usa $end$ para indicar dónde queda el cursor al terminar.
          Console.WriteLine("Hola mundo");
          $end$
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>